@media screen and (min-width: 1201px) {
	.pagewidth {
		max-width: 1200px;
		margin: 0 auto;
	}
	
	#header {
		padding: 15px 20px;
		left: 50%;
 		margin-left: -600px;
	}
	
	#content {
		position: relative;
		top: 105px;
	}
}

@media screen and (max-width: 1200px) {
	#header {
		padding: 3px 0;
	}
	
	#content {
		position: relative;
		top: 81px;
	}
}